# Compiled Java classes
target/
*.class

# Log files
*.log

# Database files
*.db
.salt
mysql_data/

# IDE specific files
.nb-gradle/
nbproject/private/
build/
.settings/
.project
.classpath

# OS files
.DS_Store
Thumbs.db

# Docker
.docker/